beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
crontab==0.22.6
Django==2.2.7
django-crontab==0.7.1
django-filter==2.2.0
djangorestframework==3.10.3
future==0.18.2
idna==2.8
itchat==1.2.32
lxml==4.4.2
Markdown==3.1.1
pypng==0.0.20
PyQRCode==1.2.1
pytz==2019.3
requests==2.22.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.7
wxpy==0.3.9.8
zmail==0.2.6
