<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
 <body dir="auto">
  <div dir="ltr">
   <span></span>
  </div>
  <div dir="ltr">
   <div dir="ltr">
    Dear:
    <br />
    <p style="text-indent:2em">微信群&quot;北京-南皮-泊头 拼车群&quot;的聊天记录如下:<br /> </p>
    <div>
     <p style="text-align:center;"><span style=" color:#b8b8b8;font-size:17px; ">—————&nbsp;&nbsp;2019-11-28&nbsp;&nbsp;—————</span></p>
    </div>
    <div>
     <span style="font-size:17px"><b>晴天，17363178302 下午5:54<br /></b></span>明天早上7点到8点左右南皮泊头东光寨子附近回北京车找人，17363178302下午返回老家，可以带东西一天一圈。
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>知足常乐 下午6:08<br /></b></span>[表情]【类别】车找人
     <br />
     <br />[表情]【日期】11月29下午6点左右回东光，周日下午返京
     <br />[表情]【始发】 通州亦庄同济南路附近
     <br />
     <br />[表情]【终点 】东光
     <br />
     <br />[表情]【联系电话】13463791430微信同号
     <br />
     <br />[表情]【备注】全程高速， 途径沧州东光南皮，上班时间不方便接电话，看到第一时间回复
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>北京-~东光 下午6:11<br /></b></span>明天下午东光王集霞口泊头南皮沧州附近回北京第二天早上返回老家可以带东西包车优先18631745661
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>恭喜发财 下午6:13<br /></b></span>【类别】：车找人
     <br />【始发】：芍药居地铁站
     <br />【终点】：南皮县城
     <br />【日期】：11月29下午7点半左右
     <br />【联系】：13911644853微信同号
     <br />【备注】：全程高速 ETC
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>【奋青】 下午6:33<br /></b></span>车找人，下周二（12月3号）下班或周三（12月4号）上午北京回沧州 南皮 寨子 路灌附近，有回的老乡提前预约啦，可以电话联系或小窗口/微笑联系电话：18511700043
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>健康之路 下午7:46<br /></b></span>明天早上，七点半，到八点，南皮回潞灌附近，凤翔附近，寨子附近，车找人，有跟车的提前预定15383175554，，，，，，九点左右返回南皮
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>【奋青】 下午8:38<br /></b></span>车找人，下周二（12月3号）下班或周三（12月4号）上午北京回沧州 南皮 寨子 路灌附近，有回的老乡提前预约啦，可以电话联系或小窗口/微笑联系电话：18511700043
     <br />
     <br />
    </div>
    <div>
     <span style="font-size:17px"><b>健康之路 下午9:07<br /></b></span>明天早上，七点半，到八点，南皮回潞灌附近，凤翔附近，寨子附近，车找人，有跟车的提前预定15383175554，，，，，，九点左右返回南皮
     <br />
     <br />
    </div>
    <div>
     <p style="text-align:center;"><span style=" color:#b8b8b8;font-size:17px; ">—————&nbsp;&nbsp;2019-11-29&nbsp;&nbsp;—————</span></p>
    </div>
    <div>
     <span style="font-size:17px"><b>阳光Boy小旺19931737774 上午5:54<br /></b></span>今天下午1点到3点左右东光王集霞口泊头南皮沧州寨子附近回北京 可带货 第二天早上北京回老家 包车优先19931737774
     <br />
     <br />
    </div>
   </div>
   <br />
   <br />
   <div dir="ltr">
    发自我的 iPhone
   </div>
  </div>
 </body>
</html>